.endorsement {
  display: inline;
  font-size: 1em;
}
.endorsement .long {
  align-items: center;
  margin-bottom: 0.25em;
  flex: 1;
  display: flex;
}
.endorsement .short {
  align-items: center;
  display: inline-block;
  flex: 0;
  margin-bottom: 0.25em;
}
.endorsement .term {
  align-items: center;
  display: flex;
}
.endorsement .term * {
  font-size: 0.9em;
}
.endorsement .term .counter {
  background-color: #2894E4;
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  padding: 0.25em 0.25em;
  max-width: 2em;
  width: 2em;
}
.endorsement .term .name {
  background-color: #E0E0E0;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  padding: 0.25em 0.75em;
  text-transform: capitalize;
}
.endorsement hr {
  flex: 1;
  margin: 0 10px;
}
.endorsement .endorsers {
  display: flex;
  justify-content: flex-end;
}
.endorsement .endorsers img {
  height: 1.75em;
  width: 1.75em;
}
.endorsement button {
  font-size: 0.9em;
  background-color: #E0E0E0;
  border: 0 none;
  border-radius: 0.25em;
  margin-left: 0.25em;
  outline: 0;
  padding: 0.25em 0.6em;
}
.endorsement button:not(.disabled):hover,
.endorsement button:not(.disabled):focus {
  background-color: #C0C0C0;
  color: #FFFFFF;
}
.endorsement button:not(.disabled):active {
  background-color: #2894E4;
  color: #FFFFFF;
}
.endorsement button.disabled {
  color: #C0C0C0;
}